.button {
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  padding: 0.7em 1.2em;
  transition: all 0.5s ease-in-out;
  // margin: 1em;
}

.primary {
  @extend .button;
  color: #4267b2;
  border: 0.2em solid #4267b2;
  background: none;

  &:hover {
    color: #fff;
    background-color: #4267b2;
  }
}

.secondary {
  @extend .button;
  color: #fff;
  background-color: #4267b2;
  border: 0.2em solid #4267b2;
  // box-shadow: 1px 7px 12px 0px rgba(0, 0, 0, 0.75);
  &:hover {
    color: #4267b2;
    background-color: #fff;
    border: 0.2em solid #4267b2;
  }
}

.negative {
  @extend .button;

  color: #d82231;
  border: 0.2em solid #d82231;
  background: none;

  &:hover {
    color: #fff;
    background: #d82231;
  }
}
