.form {
  margin: 2em 5em;
  // width: 45%;
  // padding-left: 2em;
}

.form__title {
  color: #4267b2;
  text-align: left;
  font-size: 2em;
}

.form__body {
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: start;

  margin: auto;

  // padding-left: 2em;
  // border-left: 0.2em solid #4267b2;
}

textarea {
  outline: 0;
}

textarea.form__input {
  resize: none;
  overflow: auto;
}

button {
  margin-top: 50px;
}
