.wrapper {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60vw;
  max-width: 60vw;
  background-color: #fff;
  box-shadow: 0 10px 40px -15px rgba(#818181, 0.5);
  position: fixed;
}

.closeBtn {
  position: absolute;
  top: -12%;
  right: 1%;

  color: #fff;
  background-color: #4267b2;
  border: 0.1 solid #4267b2;

  height: 2em;
  padding: 0.3em 0.6em;
  border-radius: 10%;

  display: inline-block;
  vertical-align: middle;
}
