* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
html {
  font-size: 62.5%;
} */

body {
  font-size: 10px;
  font-family: "Lato";
  font-weight: 400;
  max-width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}
